@font-face {
	font-family: 'NovitoNova-Regular';
	src: url('../fonts/NovitoNova-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Just-Breathe';
	src: url('../fonts/JustBreatheBold-wO6P.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
